.course-section 
  .container 
  
    .course-section-item
      .course-section-item-title.one
        |ОСНОВНОЙ
        br
        | КУРС
      .course-section-item-description
        |- Группа
        br
        |- 12 занятий по два часа 3 раза в неделю
        
    .course-section-item
      .course-section-item-title.two
        |ИНДИВИДУАЛЬНЫЙ
        br
        | КУРС
      .course-section-item-description
        |- Тет-а-тет
        br
        |- Ассистирование
        br
        |- 12 занятий
        br
        |- Консультации с наставником
        
    .course-section-item
      .course-section-item-title.three
        |ИНТЕНСИВ 
        br
        | ВЫХОДНОГО ДНЯ
      .course-section-item-description
        |- Группа, метод погружения
        br
        |- Суббота, Воскресенье по 8 часов
        
    .course-section-image
      img(src="images/man.jpg")
      .course-section-image-alt
        span 
          |— 
        .name
          |&nbsp СЛАВА ВАРТАНОВ
          span 
            |РЕКЛАМНЫЙ ФОТОГРАФ
    
    
          
          

        
