.footer
  .container
    .footer-icons
      a(href="#" target="_blank")
        img(src="images/social.svg")
      a(href="#" target="_blank")
        img(src="images/social-1.svg")
      a(href="#" target="_blank")
        img(src="images/social-media.svg")
    .footer-cr
      a(href="http://yourockdude.com" target="_blank")
        div
          |Снимали
        div
          .txt
            |&nbsp- YouRockDude!
          span
          
