
<div class="head"> 
  <div class="head-slider">
    <div class="head-slider-slide"><img src="images/background1.jpg"/></div>
    <div class="head-slider-slide"><img src="images/background2.jpg"/></div>
  </div>
  <div class="container">
    <header class="head-header">
      <div class="head-header-logo"><span>AVAVA </span><span>&nbsp- фотошкола</span></div>
      <div class="head-header-phone">+7 863 221 49 50</div>
    </header>
    <div class="head-main">
      <div class="head-main-txt">ФОТОГРАФИРУЙ ПО-НОВОМУ</div>
      <div class="head-main-button">Запишись сейчас!</div>
    </div>
  </div>
</div>