doctype html
head
  meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
  link(rel="stylesheet" href="stylesheets/app.css")

  script(src="javascripts/vendor.js")
  script(src="javascripts/app.js")

  script.
    require('initialize');

body

  include components/head/head.static.jade
  include components/course-section/course-section.static.jade
  include components/button/button.static.jade
  include components/footer/footer.static.jade
