
<div class="course-section"> 
  <div class="container"> 
    <div class="course-section-item first">
      <div class="course-section-item-title one">ОСНОВНОЙ<br/>КУРС</div>
      <div class="course-section-item-description">- Группа<br/>- 12 занятий по два часа 3 раза в неделю</div>
    </div>
    <div class="course-section-item second">
      <div class="course-section-item-title two">ИНДИВИДУАЛЬНЫЙ<br/>КУРС</div>
      <div class="course-section-item-description">- Тет-а-тет<br/>- Ассистирование<br/>- 12 занятий<br/>- Консультации с наставником</div>
    </div>
    <div class="course-section-item third">
      <div class="course-section-item-title three">ИНТЕНСИВ <br/>ВЫХОДНОГО ДНЯ</div>
      <div class="course-section-item-description">- Группа, метод погружения<br/>- Суббота, Воскресенье по 8 часов</div>
    </div>
    <div class="course-section-image"><img src="images/man.jpg"/>
      <div class="course-section-image-alt"><span>
           
          — </span>
        <div class="name">&nbsp СЛАВА ВАРТАНОВ<span>
             
            РЕКЛАМНЫЙ ФОТОГРАФ</span></div>
      </div>
    </div>
  </div>
</div>