
<div class="footer">
  <div class="container">
    <div class="footer-icons"><a href="#" target="_blank"><img src="images/social.svg"/></a><a href="#" target="_blank"><img src="images/social-1.svg"/></a><a href="#" target="_blank"><img src="images/social-media.svg"/></a></div>
    <div class="footer-cr"><a href="http://yourockdude.com" target="_blank">
        <div>Снимали</div>
        <div>
          <div class="txt">&nbsp- YouRockDude!</div><span></span>
        </div></a></div>
  </div>
</div>