.head 
  .head-slider
    .head-slider-slide
      img(src="../images/background1.jpg")
    .head-slider-slide
      img(src="../images/background2.jpg")
  .container
    header.head-header
      .head-header-logo
        span
          |AVAVA 
        span
          |&nbsp- фотошкола
      .head-header-phone
        |+7 863 221 49 50
    .head-main
      .head-main-txt
        |ФОТОГРАФИРУЙ ПО-НОВОМУ
      .head-main-button
        |Запишись сейчас!
